
<header class="w-100 " style="height: 10vh;">
    <div class=" py-2 text-bg-dark" style="height: 10vh;">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="btn btn-warning d-flex align-items-center d-flex  my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <div>
              <img src="../../../favicon.ico" class="img-fluid w-25" alt="Image">
              <h3 *ngIf="nombreUsuario">{{nombreUsuario}}</h3>
              <h3 *ngIf="!nombreUsuario">Visitante</h3>

            </div>
          </a>

  
          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
              <a href="quien" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"/></svg>
                Quien Soy
              </a>
            </li>
            <li *ngIf="!usuarioAut">
              <a  routerLink="usuario/ingreso" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"/></svg>
                Ingreso
              </a>
            </li>
            <li *ngIf="usuarioAut">
              <a  (click)="logOut()" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"/></svg>
                Cerrar Sección
              </a>
            </li>
            <li *ngIf="usuarioAut">
              <a  routerLink="chat" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"/></svg>
                Chat
              </a>
            </li>
            <li *ngIf="usuarioAut">
              <a  routerLink="encuesta" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"/></svg>
                Encuesta
              </a>
            </li>
            <li *ngIf="usuarioAut">
              <a  routerLink="home" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"/></svg>
                Juegos
              </a>
            </li>
            <li *ngIf="usuarioAut">
              <a  routerLink="resultados" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"/></svg>
                Resultados
              </a>
            </li>
            <li *ngIf="isAdmin">
              <a routerLink="encuesta/listado" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#table"/></svg>
                Listados de encuestas
              </a>
            </li>
            <li *ngIf="!usuarioAut">
              <a routerLink="usuario/registro" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#table"/></svg>
                Registrarse
              </a>
            </li>
            <li>
              <a routerLink="error" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#grid"/></svg>
                Error
              </a>
            </li>
      
          </ul>
        </div>
      </div>
    </div>
   
  </header>
  