<div class="  col-12 bg-opacity-25 bg-warning m-0 p-0"
    style="background-image: url('https://media.giphy.com/media/BHNfhgU63qrks/giphy.gif'); 
    background-size: cover; background-position: center; height: 90vh;">

        <div class="row m-0 p-0">
    <div class=" row col-8 justify-content-center">
            <div
                class="game-over bg-warning col-8 rounded-5 m-5 bg-opacity-75 p-5 d-flex flex-column align-items-center justify-content-center">
                <h2 *ngIf="!playing" class="bg-danger bg-opacity-75 rounded-5 p-5 fs-1 text-white">Asteroides Locos 🌑
                </h2>

                <div *ngIf="!playing && bestScore " class="card text-center bg-success mb-3" style="width: 18rem;">
                    <div class="card-body">
                        <h1 class="card-title bg-danger bg-opacity-75 text-white rounded-3">Mejor Partida</h1>
                        <img class="img-fluid" src="https://media.giphy.com/media/BHNfhgU63qrks/giphy.gif"
                            alt="trivia">
                    </div>
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item text-white fw-bold bg-danger bg-opacity-75">Usuario:
                            {{bestScore.nombre }} </li>
                        <li class="list-group-item text-white fw-bold bg-warning bg-opacity-25">Fecha:
                            {{bestScore.fecha}}
                        </li>
                        <li class="list-group-item text-white fw-bold bg-info bg-opacity-25">Cantidad Aciertos:
                            {{bestScore.aciertos}}</li>
                    </ul>
                </div>

                <p class="text-white p-2 bg-info bg-opacity-75 rounded-5 col-8">Asteroides Destruidos: {{ score }}</p>
                <button class="btn btn-success p-5" *ngIf="!playing" (click)="resetGame()">Jugar</button>
            </div>

            <span (mouseover)="handleCircleClick(circle)" *ngFor="let circle of circles">
                <span class="circle play-area" [class.clicked]="circle.clicked" [style.top.px]="circle.top"
                    [style.left.px]="circle.left">
                    <img src="../../../assets/meteoro.png" alt="Circle Image" class="circle-image">
                </span>
            </span>
        </div>

        <div class="col-4 ">
            <app-chat></app-chat>
        </div>
    </div>
</div>